* {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/windowslandscape.jpg);
  background-position: center;
  background-size: cover;
}

main {
  background-color: #9a9a9a;
  border: 2px solid #e8e8e8;
  border-bottom: none;
  min-width: 500px;
}

input,
select {
  font-size: 1rem;
  outline: none;
  border-radius: 0%;
  border: none;
  border-bottom: 1.5px solid #000;
  border-right: 1.5px solid #000;
  border-top: 1.5px solid #f5f1e6;
  border-left: 1.5px solid #f5f1e6;
}

input {
  text-align: right;
}

button {
  background-color: #bebebe;
  border-top: 1.5px solid #f5f1e6;
  border-left: 1.5px solid #f5f1e6;
  border-bottom: 1.5px solid #000;
  border-right: 1.5px solid #000;
  font-size: 1rem;
}

button i,
button svg {
  pointer-events: none;
}

button:active {
  border: 1px solid #bebebe;
}

#up-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(21, 15, 208, 1) 0%,
    rgba(21, 15, 208, 0.5) 100%
  );
}

#up-bar #title {
  margin: 0.4rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
}

#up-bar #window-buttons {
  margin: 0.3rem;
}

#up-bar #window-buttons button {
  width: 20px;
  height: 20px;
}

#up-bar #window-buttons button i {
  font-size: 0.8rem;
  text-align: center;
  line-height: 17px;
}

#todo-form {
  min-height: 45px;
  border-bottom: 2px solid #e8e8e8;
  padding: 10px;
  display: flex;
  align-items: center;
}

#todo-form.hide {
  display: none;
}

#todo-form input {
  height: 26px;
  width: 430px;
  padding: 0 5px;
}

#todo-form button {
  width: 40px;
  height: 26px;
}

#todo-form button i {
  font-size: 0.8rem;
}

#edit-form {
  border-bottom: 2px solid #e8e8e8;
}

#edit-form h2 {
  font-weight: lighter;
  padding: 2px 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#edit-form .form-control {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#edit-form input {
  height: 26px;
  padding: 0 5px;
  margin-bottom: 8px;
  width: 100%;
}

#edit-form button {
  width: 103px;
  height: 25px;
  margin-right: 10px;
}

#toolbar {
  min-height: 46px;
  border-bottom: 2px solid #e8e8e8;
  display: flex;
  align-items: center;
}

#toolbar.hide {
  display: none;
}

#toolbar #search-todo {
  border-right: 2px solid #e8e8e8;
  height: 46px;
  padding: 10px;
}

#toolbar #search-todo input {
  width: 280px;
  height: 26px;
  padding: 0 5px;
  margin-right: 5px;
}

#toolbar #search-todo button {
  height: 26px;
  width: 40px;
}

#toolbar #search-todo button i {
  font-size: 0.8rem;
  text-align: center;
}

#filter {
  margin: 0 auto;
}

#filter-input {
  width: 105px;
  height: 26px;
  text-align: center;
}

#todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#todo-list div:last-child {
  border-bottom: 2px solid #e8e8e8;
}

#todo-list.hide {
  display: none;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid #ccc;
  transition: 0.2s;
  letter-spacing: 0.7px;
  opacity: 0.9;
}
.todo:hover {
  opacity: 1;
}

.todo h3 {
  flex: 1;
  font-size: 1.1rem;
  font-weight: lighter;
}

.todo button {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  background-color: rgba(21, 15, 213, 0.7);
  color: #fff;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.hide {
  display: none;
}
